<tr>
  <td class="align-middle">
    <%= badge.name %>
  </td>
  <td>
    <%= image_tag badge.image, style: 'height:10;width:10;margin-bottom:10px;' %>
  </td>
  <td class="align-middle">
    <%= link_to t('.show'), admin_badge_path(badge) %>
  </td>
  <td class="align-middle">
    <%= link_to t('.edit'), edit_admin_badge_path(badge) %>
  </td>
  <td class="align-middle">
    <%= link_to t('.delete'),
      admin_badge_path(badge),
      method: :delete,
      data: {confirm: t('.confirm') } %>
  </td>
</tr>
