<div class="row mt-3">
  <div class="col col-md-4">
    <div class="card border-primary">
      <div class="card-body">

        <%= form_with model: [:admin, @badge], local: true do |form| %>
          <%= render 'shared/errors', resource: @badge %>
          <div class="form-group">

          <p>
            <%= form.label :name %><br>
            <%= form.text_field :name, class: 'form-control' %>
          </p><br>

          <p>
            <%= form.label :image %><br>
            <%= form.select :image, options_for_select(Badge.images), prompt: true, class: 'form-control' %>
          </p><br>

          <p>
            <%= form.label :rule %><br>
            <%= form.select :rule, options_for_select(Badge::RULES), prompt: true, class: 'form-control' %>
          </p><br>

          <p>
            <%= form.label :value %><br>
            <%= form.text_field :value, class: 'form-control' %>
          </p><br>

          <%= form.submit "Enter", class: 'btn btn-primary' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
