<h1><%= t('.header') %></h1>

<div class="row mt-5">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"><%= t('.question') %></th>
          <th scope="col"><%= t('.url') %></th>
          <th scope="col"><%= t('.user_email') %></th>
        </tr>
      </thead>
      </tbody>
        <%= render @gists %>
      </tbody>
    </table>
  </div>
</div>
