<div class="row mt-3">
  <div class="col col-md-4">
    <div class="card border-primary">
      <div class="card-body">

        <%= form_with model: [:admin, @test], local: true do |form| %>
          <%= render 'shared/errors', resource: @test %>
          <div class="form-group">

          <p>
            <%= form.label :title %><br>
            <%= form.text_field :title, class: 'form-control' %>
          </p><br>

          <p>
            <%= form.label :level %><br>
            <%= form.number_field :level, class: 'form-control' %>
          </p><br>

          <p>
            <%= form.label :category_id %><br>
            <%= form.collection_select :category_id, Category.all, :id, :title, {prompt: true}, {class: "form-control"} %>
          </p><br>

          <%= form.submit "Enter", class: 'btn btn-primary' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
